.trailContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #0a0a0a;
}

.image {
    position: absolute;
    inset: 0;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
    pointer-events: none;
    opacity: 0;
}

@media (max-width: 900px) {
    .image {
        width: 100px;
        height: 100px;
    }
}